body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: rgb(242, 242, 242);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: rgb(0, 0, 0);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100; /* 確保標頭位於最上層 */
}
.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 25px;
    font-weight: bold;
}
.logo {
    font-weight: bold;
    color: white;
}

/* About me */
.About-me-content {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    width: 80%; 
    margin-top: 100px; 
    color: black;
}
.About-me-text-section {
    flex: 1; 
    max-width: 50%;
    margin-top: -100px; 
}
.About-me-text-section h1 {
    font-size: 48px;
}
.About-me-text-section p {
    font-size: 22px;
}

.circle-container {
    width: 600px; /* 圓形的直徑 */
    height: 600px; /* 圓形的直徑 */
    background: white;
    border-radius: 50%; /* 讓容器變成圓形 */
    display: flex; /* 使用Flexbox對齊 */
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    overflow: hidden; 
}
.circle-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* 確保圖片不變形並填滿容器 */
    object-position: 70% 70%;
    border-radius: 50%; /* 把圖片也變成圓形 */
}

/* link */
.About-me-Link {
    width: 150px;
    background: rgb(242, 242, 242);
}

.About-me-Link img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}


/* Work experence section*/
.Work-experience {
    width: 100%;
    padding: 50px 20px;
    background-color: rgb(157, 218, 231);
    color: #333;
    text-align: center;
    box-sizing: border-box;
    font-size: 36px;
    margin-top: 20px;
}

.Work-experience h2 {
    font-size: 50px;
    margin-bottom: 20px;
    color: #000000;
}

/* III */
.III-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 100px;
}

.III-text {
    flex: 1;
    max-width: 50%;
    text-align: left;
    margin-left: 165px;
}

.III-text h3 {
    font-size: 30px;
    margin-bottom: 20px;
    color: #000000;
}

.III-text p {
    font-size: 18px;
    color: #000000;
    font-weight: bold;
}

.III-text ul {
    list-style: decimal;
    margin-left: 20px;
    color: #333;
}

.III-text li {
    font-size: 10px;
    color: #000000;
    margin-bottom: 10px;
    font-size: 18px;
}

.III-image {
    display: flex;
    justify-content: center;
    gap: 20px; /* 圖片之間的間距 */
    flex-wrap: wrap; /* 小螢幕會自動換行 */
    margin-top: 20px;
}

.III-image img {
    width: 400px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}


/* SHT */
.SHT-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 100px;
}

.SHT-text {
    flex: 1;
    max-width: 50%;
    text-align: left;
    margin-left: 165px;
}

.SHT-text h3 {
    font-size: 30px;
    margin-bottom: 20px;
    color: #000000;
}

.SHT-text p {
    font-size: 18px;
    color: #000000;
    font-weight: bold;
}

.SHT-text ul {
    list-style: decimal;
    margin-left: 20px;
    color: #333;
}

.SHT-text li {
    font-size: 10px;
    color: #000000;
    margin-bottom: 10px;
    font-size: 18px;
}

.SHT-image {
    display: flex;
    justify-content: center;
    gap: 20px; /* 圖片之間的間距 */
    flex-wrap: wrap; /* 小螢幕會自動換行 */
    margin-top: 20px;
}

.SHT-image img {
    width: 400px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}


/* Volunteer-Experience section*/
.Volunteer-Experience {
    width: 100%;
    padding: 50px 20px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    box-sizing: border-box;
}

.Volunteer-Experience h2 {
    font-size: 50px;
    margin-bottom: 20px;
    color: #000000;
}

/* Teaching Assistant */
.TA-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 100px;
}

.TA-text {
    max-width: 100%;
    margin-left: 165px;
    text-align: left;
    padding: 20px;
    border-radius: 10px;
}

.TA-text h3 {
    font-size: 30px;
    margin-bottom: 20px;
    color: #000000;
}

.TA-text p {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #000000;
}

.TA-text ul {
    list-style: decimal;
    margin-left: 20px;
    color: #333;
}

.TA-text li {
    font-size: 10px;
    color: #000000;
    margin-bottom: 10px;
    font-size: 18px;
}

/* Vice President */
.VP-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 100px;
}

.VP-text {
    flex: 1;
    max-width: 50%;
    text-align: left;
    margin-left: 165px;
}

.VP-text h3 {
    font-size: 30px;
    margin-bottom: 20px;
    color: #000000;
}

.VP-text ul {
    list-style: decimal;
    margin-left: 20px;
    color: #333;
}

.VP-text li {
    font-size: 10px;
    color: #000000;
    margin-bottom: 10px;
    font-size: 18px;
}

.VP-image {
    display: flex;
    justify-content: center;
    gap: 20px; /* 圖片之間的間距 */
    flex-wrap: wrap; /* 小螢幕會自動換行 */
    margin-top: 20px;
}

.VP-image img {
    width: 400px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

/* Captain and Coach */
.CC-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 100px;
}

.CC-text {
    flex: 1;
    max-width: 50%;
    text-align: left;
    margin-left: 165px;
}

.CC-text h3 {
    font-size: 30px;
    margin-bottom: 10px;
    color: #000000;
}

.CC-text ul {
    list-style: decimal;
    margin-left: 20px;
    color: #333;
}

.CC-text li {
    font-size: 10px;
    color: #000000;
    margin-bottom: 10px;
    font-size: 18px;
}

.CC-image {
    display: flex;
    justify-content: center;
    gap: 20px; /* 圖片之間的間距 */
    flex-wrap: wrap; /* 小螢幕會自動換行 */
    margin-top: 20px;
}

.CC-image img {
    width: 400px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}


/* Project-Experience section*/
.Project-Experience {
    width: 100%;
    padding: 50px 20px;
    background-color: rgb(157, 218, 231);
    text-align: center;
    box-sizing: border-box;
}

.Project-Experience h2 {
    font-size: 50px;
    margin-bottom: 40px;
    color: #000;
}

.PE-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.FP-card {
    background: white;
    color: #000;
    padding: 20px 30px;
    width: 90%;
    max-width: 50%;
    border-radius: 10px;
    text-align: left;
}

.FP-card h3 {
    font-size: 30px;
    margin-bottom: 10px;
}

.FP-card p {
    font-size: 18px;
}

.GG-card {
    background: white;
    color: #000;
    padding: 20px 30px;
    width: 90%;
    max-width: 50%;
    border-radius: 10px;
    text-align: left;
}

.GG-card h3 {
    font-size: 30px;
    margin-bottom: 10px;
}

.GG-card p {
    font-size: 18px;
}

.GG-card a {
    font-size: 18px;
}


/* Media Query */
@media (max-width: 768px) {
    body {
        flex-direction: column;
        padding: 20px;
    }
    .navbar {
        flex-direction: column;
        align-items: center;
    }
    .navbar a {
        margin: 10px 0;
    }
    .content {
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 150px;
    }
    .text-section {
        max-width: 100%;
        text-align: center;
        margin-top: 0;
    }
    .text-section h1 {
font-size: 3rem;
    }
    .text-section p {
        font-size: 1rem;
    }
    .circle-container {
        width: 300px;
        height: 300px;
    }
    .circle-container img {
        width: 150px;
    }
    .gameplay-overview, .gameplay-hightlight {
        padding: 20px;
    }
    .gameplay-overview h2, .gameplay-hightlight h2 {
        font-size: 2rem;
    }
    .gameplay-overview p, .gameplay-hightlight p {
        font-size: 1rem;
    }
    .features {
        flex-direction: col
    }
}
